<!-- HTML template -->
<div class="container">
  <div class="row mt-4 bg-primary p-5 m-auto">
    <div class="col-md-6 ms-5">
      <input type="text" placeholder="Enter Name" class="form-control" name="name" [formControl]="newForm">
    </div>
    <div class="col-md-4">
      <button class="btn btn-warning mx-2" (click)="getAdd()">Add New Item</button>
      <button class="btn btn-danger" (click)="removeData()">Remove Item</button>
    </div>
  </div>

  <div class="row m-auto bg-primary p-4 mt-3">
    <div class="col-md-12">
      <div *ngFor="let data of addVal; index as i">
        <ul class="list">
          <li>{{i+1}}</li>
          <li>{{data.name}}</li>
          <li><button class="btn btn-danger" (click)="onDeleteItems(i)">Delete</button></li>
          <li><button class="btn btn-danger" (click)="onEditItems(i)">Edit</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
